<div class="string input optional stringish control-group">
  <label class="control-label" for="met-when-criteria">Need is likely to be met when</label>
  <div class="controls">
    <div id="met-when-criteria">
      <% met_when_criteria.each_with_index do |c, i| %>
        <div class="add-bottom-margin">
          <input class="long-form" id="criteria-<%= i %>" name="need[met_when][]" type="text" value="<%= c %>"></input>
          <% if met_when_criteria.length > 1 %>
            <button name="delete_criteria" id="delete-criteria" class="icon-remove btn-remove-criteria" value="<%= i %>"></button>
          <% end %>
        </div>
      <% end %>
      <span class="help-block">How will you know when this need has been met?</span>
      <%= f.submit "Add criteria", :name => "criteria_action", :class => "btn" %>
    </div>
  </div>
</div>
