<% if @need.duplicate? %>
  <div class="callout callout-info add-bottom-margin">
    <div class="callout-body">
      This need is closed as a duplicate of
      <%= link_to "#{@need.duplicate_of}: #{canonical_need_goal}",
                  need_path(@need.duplicate_of) %>
    </div>
  </div>
<% end %>

<% if @need.has_invalid_status? %>
  <div class="callout callout-danger add-bottom-margin">
    <div class="callout-body">
      This need is not valid because:
      <ul>
        <% @need.status["reasons"].each do |reason| %>
          <li><%= reason %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
