<header class="block-border add-bottom-margin">
  <% if @need.organisations.any? %>
    <p class="need-organisations">
      <%= @need.organisations.map do |o| %>
        <% link_to o.name, needs_url(organisation_id: o.id) %>
      <% end.join(", ").html_safe %>
    </p>
  <% end %>
  <div class="relative">
    <h1 class="need-title">
      <%= format_need_goal @need.goal %>
    </h1>
  </div>
</header>

<%= tabs = {
      "View" => need_path(@need),
      "Edit" => edit_need_path(@need),
      "Actions" => actions_need_path(@need),
      "History & Notes" => revisions_need_path(@need)
    }
    tabs.delete("Edit") if @need.duplicate_of.present?
    bootstrap_flavour_tabs(tabs, active: active) %>
