<% if @need.unpublished? %>
  <div class="callout callout-info add-bottom-margin">
    <div class="callout-body">
      This need is closed as a duplicate of some unknown content
    </div>
  </div>
<% end %>
