<header class="block-border add-bottom-margin">
  <% if @need.organisations.any? %>
    <p class="need-organisations">
      <%= @need.organisations.map(&:title).join(", ") %>
    </p>
  <% end %>
  <div class="relative">
    <h1 class="need-title">
      <%= format_need_goal @need.goal %>
    </h1>
  </div>
  <span class="lead">
    <span class="status label <%= publication_state_label_class(@need.publication_state) %>">
      Status: <%= @need.status %>
    </span>
  </span>
</header>
