<div id="workflow" class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container-fluid">
      <% if edit_page %>
        <%= f.action :submit,
                     :button_html => {
                       :value => "Save",
                       :class => "btn btn-primary"
                     }
                   %>
        <%= f.action :submit,
                     :button_html => {
                       :name => "add_new",
                       :value => "Save and add a new need",
                       :class => "btn btn-primary"
                     }
                   %>
      <% else %>
        <%= link_to "Add a new need", new_need_path, class: "btn btn-primary" %>
        <% if view_page && @need.duplicate_of.blank? %>
          <%= link_to "Edit", edit_need_path(@need), class: "btn btn-success" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
