<% content_for :page_title, "Actions" %>

<article id="single-need">
  <%= render partial: "needs/breadcrumb", locals: { need: @need, action: "Actions" } %>
  <%= render :partial => "need_header" %>

  <div id="actions">
    <% if current_user.can?(:close, Need) %>
      <%= render partial: "needs/actions/duplicate_of" %>
    <% end %>
  </div>

  <%= render partial: "workflow_buttons", locals: { need: @need } %>
</article>
