<% content_for :page_title, "Close as a duplicate" %>

<article class="need">
  <nav class="add-top-margin">
    <%= render partial: "needs/breadcrumb", locals: { need: @need, action: "Close as a duplicate" } %>
  </nav>

  <%= render :partial => "need_header" %>
  <h3>Close as a duplicate</h3>

  <%= render partial: "duplicate_of_need" %>

  <%= render partial: "workflow_buttons", locals: { edit_page: false } %>
</article>
