<% content_for :page_title, "Edit" %>

<article id="single-need">
  <nav class="add-top-margin">
    <ul class="breadcrumb">
      <li><%= link_to "All needs", needs_path %> <span class="divider">/</span></li>
      <li><%= link_to "#{@need.need_id}: #{format_need_goal @need.goal}", need_path(@need) %> <span class="divider">/</span></li>
      <li class="active">Edit</li>
    </ul>
  </nav>
  <%= render :partial => "need_header", locals: { active: "Edit" } %>

  <h3>Edit need</h3>

  <%= render partial: "form" %>
</article>
