<h2>All needs</h2>

<p><%= link_to "Add a new need", new_need_path, class: "btn" %></p>

<table class="table table-striped" id="needs">
  <tbody>
    <%= render partial: "need_row", collection: @needs, as: :need %>
  </tbody>
</table>
