<article id="single-need">
  <header>
    <ul class="need-breadcrumb">
      <li><%= link_to "All needs", needs_path %> <span class="divider">/</span></li>
      <li><%= link_to "#{@need.need_id}: #{format_need_goal @need.goal}", need_path(@need) %> <span class="divider">/</span></li>
      <li>History</li>
    </ul>

    <%= render :partial => "need_header", locals: { actions: [:edit] } %>
  </header>

  <div id="revisions">
    <h3>Recent changes</h3>
    <ul>
      <%= render partial: "revision", collection: @need.revisions %>
    </ul>
  </div>
</article>
