<% unless @need.has_invalid_status? %>
  <div id="out-of-scope-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal-out-of-scope-label" aria-hidden="true">
    <div class="modal-dialog">
      <%= semantic_form_for @need, { url: descope_need_path(@need), html: { class: "modal-content" } } do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="modal-out-of-scope-label" class="modal-title">Record validity decision</h3>
        </div>
        <%= f.semantic_fields_for :status do |s| %>
          <div class="modal-body">
            <p>Are you sure you want to mark this need as out of scope? This can’t be changed.</p>
            <%= s.input :reason, :label => "Why is this need out of scope?", :hint => "Please explain why this need is not in scope for GOV.UK", :as => :text, :input_html => { :rows => 3 } %>
          </div>
        <% end %>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <%= f.action :submit,
                       :method => :put,
                       :button_html => {
                         :value => "Update the status",
                         :class => "btn btn-danger"
                       }
                     %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<script>
  $('#out-of-scope').
  attr('href', '#out-of-scope-modal').
  attr('data-toggle', 'modal').
  attr('role', 'button')
</script>
