form.need {
  /* Avoid using "display: none" so that form still submits with this input */
  input[type="submit"].hide {
    visibility: hidden;
    display: inline;
    position: absolute;
  }

  .long-form {
    @extend .col-md-8;
    float: none;
  }

  .number-text-input {
    @extend .col-md-2;
    float: none;
  }

  .help-block {
    @extend .text-muted;
  }

  .form-group {
    margin-bottom: $default-vertical-margin;
  }
}

form.filter, form.search {
  label, input {
    display: inline;
    vertical-align: middle;
  }

  /* Make submit buttons the same width, so the forms line up nicely */
  input[type="submit"] {
    width: 5em;
  }

  text-align: right;
  display: block;
  float: right;
  @extend .span8;
}

form.filter .organisation-select, form.search input[type="search"] {
  @extend .span4;
}

form.filter .chosen-container {
  text-align: left;
}

form.search input[type="search"] {
  margin-bottom: 0;
  margin-right: 10px;
}

span.all-organisations {
  font-style: italic;
}

form.button_to {
  display: inline;

  > div {
    display: inline;
  }
}

.reopen {
  float: right;
}

.hint-text {
  color: #aaa;
  margin-bottom: 40px;
}

.navbar-fixed-bottom {
  text-align: center;
}

.optional {
  font-weight: normal;
}
