form.need {
  @extend .form-horizontal;

  input[type="text"], input[type="number"] {
    @extend input.span2;
  }

  input.long-form, textarea.long-form {
    /* Also works on textareas, but they take the same styling as .span8 inputs */
    @extend input.span8;
  }

  .organisation-select {
    @extend .span8;
  }

  .chosen-container + .help-block {
    margin-top: 10px;
  }

  p.all-organisations {
    @extend .span8;
    @extend .controls;
  }

  .control-group {
    margin-bottom: 20px;
  }

  .help-block {
    color: #aaa;
  }

  /* Avoid using "display: none" so that form still submits with this input */
  input[type="submit"].hide {
    visibility: hidden;
    display: inline;
    position: absolute;
  }
}

form.filter, form.search {
  label, input {
    display: inline;
    vertical-align: middle;
  }

  /* Make submit buttons the same width, so the forms line up nicely */
  input[type="submit"] {
    width: 5em;
  }

  text-align: right;
  display: block;
  float: right;
  @extend .span8;
}

form.filter .organisation-select, form.search input[type="search"] {
  @extend .span4;
}

form.filter .chosen-container {
  text-align: left;
}

form.search input[type="search"] {
  margin-bottom: 0;
  margin-right: 10px;
}

.btn-remove-criteria {
  @extend .btn;
  vertical-align: middle;
  margin-left: 8px;

  span {
    text-indent: -9999px;
  }
}

span.all-organisations {
  font-style: italic;
}

form.button_to {
  display: inline;

  > div {
    display: inline;
  }
}

.reopen {
  float: right;
}

.hint-text {
  color: #aaa;
  margin-bottom: 40px;
}

.navbar-fixed-bottom {
  text-align: center;
}

form.need .control-label {
  font-weight: bold;
  text-align: left;
  display: block;
  float: none;
  width: auto;
}

form.need .controls {
  margin-left: 0px;
}

.optional {
  font-weight: normal;
}
