form.need {
  @extend .form-horizontal;

  .control-label {
    width: 200px;
  }

  .controls {
    margin-left: 220px;
  }

  input[type="text"], input[type="number"] {
    @extend input.span2;
  }

  input.long-form, textarea.long-form {
    /* Also works on textareas, but they take the same styling as .span8 inputs */
    @extend input.span8;
  }

  .organisation-select {
    @extend .span8;
  }

  .chosen-container + .help-block {
    margin-top: 10px;
  }

  fieldset#user-story {
    padding-bottom: 40px;
  }
}

form.filter, form.search {
  label, input {
    display: inline;
    vertical-align: middle;
  }

  /* Make submit buttons the same width, so the forms line up nicely */
  input[type="submit"] {
    width: 5em;
  }

  text-align: right;
  display: block;
  float: right;
  @extend .span8;
}

form.filter .organisation-select, form.search input[type="search"] {
  @extend .span4;
}

form.filter .chosen-container {
  text-align: left;
  margin-right: 10px;
}

form.search input[type="search"] {
  margin-bottom: 0;
  margin-right: 10px;
}

.btn-remove-criteria {
  @extend .btn;
  vertical-align: middle;
  margin-left: 8px;

  span {
    text-indent: -9999px;
  }
}

span.all-organisations {
  font-style: italic;
}
