development:
  sessions:
    default:
      database: maslow_development
      hosts:
        - localhost:27017
test:
  sessions:
    default:
      database: maslow_test
      hosts:
        - localhost:27017
      options:
        max_retries: 1
        retry_interval: 0
