<h3>Recent changes</h3>
<ul class="revisions">
  <% revisions_and_notes.each do |n| %>
    <% if n.class.name == "Note" %>
      <%= render partial: "needs/revisions/note", locals: { note: n } %>
    <% elsif n.class.name == "Hash" %>
      <%= render partial: "needs/revisions/revision", locals: { revision: n } %>
    <% end %>
  <% end %>
</ul>
