<li class="revision">
  <h3 class="revision-title">
    <%= Time.zone.parse(revision["updated_at"]).to_s(:govuk_date) %> &mdash;
  </h3>

  <ul class="changes">
    <% revision["changes"].each do |field,(previous,current)| %>
      <li>
        <%= format_field_name(field) %>:
        <span class="changed-value"><%= format_field_value(previous) %></span> &rarr;
        <span class="changed-value"><%= format_field_value(current) %></span>
      </li>
    <% end %>
  </ul>
</li>
