/* ==========================================================================
   Fonts
   ========================================================================== */

$gillSansFontStack: "GillSans", "Gill Sans", "Helvetica Neue", Arial, sans-serif;

/* ==========================================================================
   Colours
   ========================================================================== */

$linkColorVisited:   #609; /* Purple */

/* Buttons
   ========================================================================== */

$primaryButtonColor: #fff; /* White */
$successButtonColor: #fff;
$infoButtonColor:    #fff;
$inverseButtonColor: #fff;
$dangerButtonColor:  #fff;
$warningButtonColor: #fff;
$defaultButtonColor: #333; /* Dark grey */

/* Government organisations
   ========================================================================== */

$hm-government: #0076c0; /* Light blue */
