.navbar-inverse .navbar-inner {
  background: #000;
  padding: 6px 0;
}

.navbar .brand {
  background: url("/assets/header-crown.png") 0 0.29em no-repeat;
  color: #fff;
  font-family: $gillSansFontStack;
  margin-left: 0;
  padding-left: 2.25em;
}

.navbar .brand:hover,
.navbar .brand:focus {
  text-decoration: underline;
}

.navbar .sign-out:before {
  content: "\2022  "
}

.beta {
  float: left;
  min-width: 230px; 
  
  background: #EE7F52;
  color: #FFF;
  font-family: $gillSansFontStack;
  font-size: 24px;
  font-style: normal;
  line-height: 40px;
  letter-spacing: 0.04em;
  text-align: center;
}
