.navbar-inverse .navbar-inner {
  background: #000;
  padding: 6px 0;
}

.navbar .brand {
  background: url("/assets/header-crown.png") 0 0.29em no-repeat;
  color: #fff;
  font-family: $gillSansFontStack;
  margin-left: 0;
  padding-left: 2.25em;
  padding-right: 15px;
}

.navbar .brand:hover,
.navbar .brand:focus {
  text-decoration: underline;
}

.navbar .sign-out:before {
  content: "\2022  "
}

.beta {
  background: #EE7F52;
  display: block;
  color: #FFF;
  float: left;
  font-family: $gillSansFontStack;
  font-size: 18px;
  font-style: normal;
  text-transform: uppercase;
  padding: 3px 8px;
  margin-top: 7px;
}

.navbar .btn {
  margin-left: 5px;
  margin-right: 5px;
}

.bookmarklet {
  float: right;
  margin-left: 10px;
  font-size: 14px;
  font-weight: normal;
  padding-top: 19px;
}

.bookmarklet-btn {
  cursor: move;
}
