@import '_theme';

.need-breadcrumb {
  @extend .breadcrumb;
  @extend .add-top-margin;
}

#single-need {
  header {
    .organisations {
      @extend .muted;
      font-size: 18px;
      margin-bottom: -16px
    }

    h1 {
      @extend .page-header;
      border-bottom: 10px solid $hm-government;
    }

    .edit-need {
      @extend .text-right;
    }
  }

  .need-wrapper {
    p, ul, li {
      font-size: 19px;
      line-height: 1.31579 !important;
    }
  }

  .impact {
    padding: 0.1em 0 0.1em 1em;
    background-repeat: no-repeat;
    background-image: url('icon-important-2x.png');
    background-size: 34px 34px;
  }

  .impact p {
    padding: 0 1em 0 2em;
    font-weight: bold;
  }

  .justifications {
    @extend .add-bottom-margin;
  }

  .the-need {
    @extend .well;
    @extend .well-large;

    font-size: 28px;
    line-height: 1.25;
  }
}

.big-number {
  font-size: 80px;
  font-weight: bold;
  line-height: 90px;
  color: $hm-government;
  margin-bottom: $baseLineHeight;
}

.big-number span {
  font-size: 19px;
  line-height: 1.25;
  font-weight: normal;
  display: block;
  color: #000;
}

p.new-need {
  padding-bottom: 20px;
}

form.need {
  @extend .form-horizontal;

  .control-label {
    width: 200px;
  }

  .controls {
    margin-left: 220px;
  }

  input[type="text"], input[type="number"] {
    @extend input.span2;
  }

  input.long-form, textarea.long-form {
    /* Also works on textareas, but they take the same styling as .span8 inputs */
    @extend input.span8;
  }

  .organisation-select {
    @extend .span8;
  }

  .chosen-container + .help-block {
    margin-top: 10px;
  }

  fieldset#user-story {
    padding-bottom: 40px;
  }
}

form.filter {
  label {
    display: inline;
    vertical-align: middle;
  }

  .chosen-container {
    text-align: left;
    margin-right: 10px;
  }
  .organisation-select {
    @extend .span4;
  }

  text-align: right;
  display: block;
  float: right;
  @extend .span8;
}

#revisions > ul {
  margin: 20px 0px;

  li.revision {
    @extend .well;
    list-style: none;

    h3 {
      font-size: 16px;
      line-height: 20px;
      margin: 0 0 5px;
    }

    ul.changes {
      li span {
        background: #fff;
        display: inline-block;
        font-family: monospace;
      }
    }
  }
}

.btn-remove-criteria {
  @extend .btn;
  vertical-align: middle;
  margin-left: 8px;

  span {
    text-indent: -9999px;
  }
}
