h1.page-header {
  font-weight: normal;
  font-size: 32px;
}

p.new-need {
  padding-bottom: 20px;
}

form.need {
  @extend .form-horizontal;

  .control-label {
    width: 200px;
  }

  .controls {
    margin-left: 220px;
  }

  .chosen-container + .help-block {
    margin-top: 10px;
  }

  fieldset#user-story {
    padding-bottom: 40px;
  }
}
