h1.page-header {
  font-weight: normal;
  font-size: 32px;
}

p.new-need {
  padding-bottom: 20px;
}

form.need {
  @extend .form-horizontal;

  .control-label {
    width: 200px;
  }

  .controls {
    margin-left: 220px;
  }

  input[type="text"], input[type="number"] {
    @extend input.span2;
  }

  input.long-form, textarea.long-form {
    /* Also works on textareas, but they take the same styling as .span8 inputs */
    @extend input.span8;
  }

  .organisation-select {
    @extend .span8;
  }

  .chosen-container + .help-block {
    margin-top: 10px;
  }

  fieldset#user-story {
    padding-bottom: 40px;
  }
}
