/* Base styles */
body {
  background-color: #fff;
  color: #333;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

footer {
  clear: left;
  padding-top: 2em;
  border-top: 1px solid #ddd;
}

.add-top-margin {
  margin-top: $baseLineHeight !important;
}

.remove-vertical-margins,
.remove-top-margin {
  margin-top: 0 !important;
}

.add-bottom-margin {
  margin-bottom: $baseLineHeight !important;
}

.remove-vertical-margins,
.remove-bottom-margin {
  margin-bottom: 0 !important;
}

.relative {
  position: relative;
}

main a {
  &:visited {
    color: $linkColorVisited;
  }

  // Don't give visited links that are buttons
  // the visited link colour

  &.btn:visited {
    color: $defaultButtonColor;
  }

  &.btn-primary:visited {
    color: $primaryButtonColor;
  }

  &.btn-info:visited {
    color: $infoButtonColor;
  }

  &.btn-success:visited {
    color: $successButtonColor;
  }

  &.btn-warning:visited {
    color: $warningButtonColor;
  }

  &.btn-danger:visited {
    color: $dangerButtonColor;
  }

  &.btn-inverse:visited {
    color: $inverseButtonColor;
  }
}

.block-border {
  border-bottom: 10px solid $hm-government;
}
